#root {
    @include font-size($main-font-size);
}

.blurred-bg {
    backdrop-filter: blur(4px);
    border-radius: 1em;
    border: 2px solid $secondary;
}

.navbar {
    @include font-size($nav-font-size);
    padding-left: 1em;
}

blockquote {
    @include font-size($main-font-size);
    @extend .blockquote;
    text-align: center;
}

.markdown-img {
    max-width: 90%;
    height: auto;
    display: block;
}

.me-img {
    max-height: 400px;
}

a {
    text-decoration: none;
    color: var(--bs-emphasis-color);
}

.anchor-link {
    text-decoration: none;
    color: var(--bs-heading-color);
    font-size: 0.7rem;
}

code {
    @extend .hljs;
    animation: fade-in 1s;
}

img {
    animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
