// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

$enable-dark-mode: true;
$primary: #051b11;
$secondary: #0f5132;
$main-font-size: 1.5rem;
$nav-font-size: 1.7rem;
$code-font-size: 1.3rem;
