$prim: $cyan-900;
$prim-light: $cyan-800;

.navbar {
    @include font-size(2rem);
    backdrop-filter: blur(4px);
    margin-bottom: 1.2em;
}

#root {
    @include font-size(1.7rem);

    --voronoi-number-of-cells: 50;
    --voronoi-margin: 1%;
    --voronoi-line-color: #{$prim-light};
    --voronoi-line-width: 1;
    --voronoi-dot-size: 0;
    --voronoi-cell-colors: #{$prim};
    --voronoi-seed: 643421;
    background-image: paint(voronoi);
    height: 100vh;
}
