#root {
    @include font-size($main-font-size);
}

.blurred-bg {
    backdrop-filter: blur(4px);
    border-radius: 1em;
    border: 2px solid $secondary;
}

.navbar {
    @include font-size($nav-font-size);
    padding-left: 1em;
    @extend .blurred-bg;
    @extend .mx-2;
    @extend .mt-0;
    @extend .mb-2;
}

.container {
    @extend .blurred-bg;
}

blockquote {
    @include font-size($main-font-size);
    @extend .blockquote;
    text-align: center;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: var(--bs-emphasis-color);
}

.anchor-link {
    text-decoration: none;
    color: var(--bs-heading-color);
}
