// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

$enable-dark-mode: true;

// colors
$dark-green: #051b11;
$light-green: #0f5132;

$body-color: $dark-green;
$primary: $dark-green;
$secondary: $light-green;
$link-color: limegreen;

// fonts
$main-font-size: 1.1rem;
$nav-font-size: 1.7rem;
$headings-margin-bottom: 1.5rem;

// margins
$container-max-widths: (
  xs: 90%,
  sm: 90%,
  md: 80%,
  lg: 70%,
  xl: 60%,
  xxl: 50%
);

